@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"), local("Georgia"),
    url("../fonts/Georgia.ttf") format("ttf"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/Georgia.ttf")
      format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  src: local("georgia bold"), local("GeorgiaBold"),
    url("../fonts/GeorgiaBold.ttf") format("ttf"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/GeorgiaBold.ttf")
      format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "arial";
  font-style: normal;
  font-weight: 400;
  src: local("arial"), local("arial"), url("../fonts/arial.ttf") format("ttf"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/arial.ttf")
      format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Georgia" !important ;
  font-style: normal !important ;
  font-size: 15px !important ;
  line-height: 24px !important ;
  font-weight: normal !important ;
  color: #4c4c4c !important ;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

/* Header styles start */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.header__logo-title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  padding-bottom: 10px;
  color: #f1cdb3;
}

.header__logo-subtitle {
  font-family: Arial;
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 35px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
  color: #cdcdcd;
  padding-bottom: 6px;
}

.header__link:hover {
  color: #fafafa;
}

.header__link:focus,
.header__link:active {
  background: url(../img/border.svg) no-repeat bottom;
}

/* Header styles end */

/* Intro styles start */

.intro {
  min-height: 90vh;
  padding-top: 180px;
  background: url(../img/start-screen-gradient-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  background-size: cover;
}

.intro__info {
  padding-top: 163px;
}

.intro__info-wrap {
  display: flex;
  justify-content: space-between;
}

.intro__info-title {
  width: 310px;
  font-size: 44px;
  line-height: 130%;
  margin-bottom: 42px;
  color: #ffffff;
}

.intro__info-desc {
  width: 460px;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  margin-bottom: 42px;
  color: #cdcdcd;
}

.intro__info-button {
  font-family: Georgia;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  border: 0;
}

.intro__info-button:active,
.intro__info-button:hover,
.intro__info-button:focus {
  background: #dab397;
}
/* Intro styles end */
