.help {
    padding: 80px 0 45px;

    @include respond-to(phones) {
        padding: 42px 15px 45px;
    }
}

.help-content {
    max-width: 1200px;
    margin: auto;
}

.help__list {
    text-align: center;
    @include respond-to(laptops) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 60px;
        padding-left: 69px;
        padding-right: 69px;
    }
    @include respond-to(phones) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 0;
    }
}

.help__item {
    margin: 0 57px 55px;
    display: inline-block;

    @include respond-to(laptops) {
        width: 170px;
        margin: 0 28px 55px;
        margin-right: auto;
        margin-left: auto;
    }

    @include respond-to(phones) {
        width: 130px;
        margin: auto;
    }
}

.help__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin: 0 auto 26.5px;

    @include respond-to(phones) {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }
}

.help__title {
    @include georgia-normal();
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-title-dark;

    @include respond-to(phones) {
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
    }
}
