.info__wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 100px;

    @include respond-to(laptops) {
        flex-direction: column-reverse;
    }

    @include respond-to(phones) {
        padding: 42px 25px;
    }
}

.info__img {
    min-width: 300px;
    height: 408px;
    background-image: url("./img/about-pets.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 120px;

    @include respond-to(laptops) {
        margin-right: 0;
    }

    @include respond-to(phones) {
        width: 260px;
        height: 353px;
    }
}

.info__content {
    @include respond-to(laptops) {
        margin-bottom: 80px;
    }

    @include respond-to(phones) {
        margin-bottom: 41px;
    }
}

.info__content-desc {
    max-width: 430px;

    @include respond-to(phones) {
        margin-left: auto;
        margin-right: auto;
        max-width: none;
    }

    .desc__p {
        margin-bottom: 25px;
        color: $text-on-light-bg;
        &:last-child {
            margin-bottom: 0;
        }

        @include respond-to(phones) {
            text-align: justify;
            margin-bottom: 22px;
        }
    }
}
