.pets {
    background: $bg-grey;
    padding: 80px 0 100px;

    @include respond-to(phones) {
        padding: 42px 10px;
    }
}

.pets__content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to(laptops) {
        max-width: 708px;
    }
}
