/*Text*/
@mixin georgia-normal() {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
}

@mixin arial-normal() {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
}

@mixin paragraph-1() {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
}

/*Button*/
@mixin btn-link() {
  @include georgia-normal();
  text-decoration: none;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-btn-text;
  padding: 15px 45px;
  border-radius: 100px;
  display: inline-block;
  white-space: nowrap;
}
